<div class="card shadow-lg bg-dark bg-opacity-25 p-4 col col-sm-3 mx-auto">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="habilidad" class="col">
      <h3 class="text-light mx-auto">Nueva Habilidad</h3>
      <div class="mb-3 form-outline form-white">
        <div class="form-group">
          <label for="nombre" class="form-label text-white">Nombre</label>      
          <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="habilidad.nombre" required>
        </div>
      </div>
      <div class="mb-3 form-outline form-white">
        <div class="form-group">
          <label for="porcentajeDominio" class="form-label text-white">Porcentaje Dominio</label>      
          <input type="text" name="porcentajeDominio" id="porcentajeDominio" class="form-control" [(ngModel)]="habilidad.porcentajeDominio" placeholder="[80, 20]" required>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-secondary" routerLink="/habilidades">Cancelar</button>
        <button type="submit" class="btn btn-outline-danger" [disabled]="!f.valid">Actualizar</button>
      </div>
    </form>
  </div>
