body {
  /*Color negro de fondo*/
  background-color: #1C1C1C;
  background: url(src/assets/images/negroYrojo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-rojo {
  /*Color rojo de fondo*/
  /*background-color: #E31B25;*/
  background-color: red;
}

.text-rojo {
  color: red;
}

.bg-negro {
  /*Color negro de fondo de botones*/
  background-color: #151515;
}

.border-negro {
  border-color: #151515;
}

.action-btn:hover {
  color: white;
}

/*@media (max-width: 576px) {

}*/


