<section class="container text-light" name="educacion">
  <div class="row align-items-center">
    <!-- Navegación <  -->
    <div class="col-sm-1 text-center">
      <a routerLink="/experiencia">
        <h1>
          <i
            class="bi bi-chevron-compact-left text-rojo bg-negro action-btn"
          ></i>
        </h1>
      </a>
    </div>

    <!-- Contenido  -->
    <div class="col-sm-10 align-items-center">
      
      <div class="row">
        <!--Título y botón editar-->
        <div class="d-flex align-items-star">
          <h1 class="d-inline">Formación</h1>
          <a href="#" onclick="editarSobreMi()"
            ><span class="badge bg-negro text-rojo ms-4 action-btn"
              ><i class="bi bi-pencil"></i></span
          ></a>
        </div>

        <div id="listaFormacion" *ngFor="let formacion of misdatos.formacion">
          <!--Puesto-->
          <div class="row my-2" >
            <!--Título y botón editar-->
            <div class="d-flex align-items-star">
              <h3 class="d-inline">{{ formacion.titulo }}</h3>
              <a href="#" onclick="editarPuesto()"
                ><span class="badge bg-negro text-rojo ms-4 action-btn"
                  ><i class="bi bi-pencil"></i></span
              ></a>
              <a href="#" onclick="eliminarPuesto()"
                ><span class="badge bg-negro text-rojo ms-2"
                  ><i class="bi bi-x-lg"></i></span
              ></a>
            </div>
            <div>
              <h5>{{ formacion.periodo }}</h5>
            </div>
            <div class="col-2 text-center">
              <p>{{ formacion.logo }}</p>
            </div>
            <div class="col-10">
              <p>{{ formacion.descripcion }}</p>
            </div>
            <!-- <p>drag and drop https://youtu.be/-N515SDoYuU</p> -->
          </div>
        </div>

      </div>
    </div>

    <!-- Navegación >  -->
    <div class="col-sm-1 text-center">
      <a routerLink="/skills">
        <h1>
          <i
            class="bi bi-chevron-compact-right text-rojo bg-negro action-btn"
          ></i>
        </h1>
      </a>
    </div>
  </div>

</section>
