<section class="container text-light" name="skills">
  
	<div class="row align-items-center">
  
    <!-- Navegación <  -->
		<div class="col-sm-1 text-center">
			<a routerLink="/formacion">
				<h1>
					<i
						class="bi bi-chevron-compact-left text-rojo bg-negro action-btn"
					></i>
				</h1>
			</a>
		</div>

		<!-- Contenido -->
    <div class="col-sm-10 align-items-center">
      <div class="row">
        <!-- Título -->
        <div>
          <h1 class="d-inline">Skills</h1>
          <p>
            Con una forma de visualización atractiva (por ejemplo: porcentajes)
            mostrarás tu grado de dominio de habilidades duras y blandas. Podés
            también generar una sección adicional con tu nivel de idiomas.
          </p>
        </div>

        <!-- Donut Charts-->
        <div class="col col-sm-6 col-md-4" *ngFor="let item of graficoChartDataSet; let i=index">
          
          <div class="d-flex justify-content-end mb-2">
            <a href="#sobreMi" onclick="editar(editarSobreMi)"
              ><span class="badge bg-negro text-rojo action-btn"
                ><i class="bi bi-pencil"></i></span
            ></a>
          </div>

          <div class="card shadow border-negro bg-transparent text-white mb-4">
            <!-- Card Body -->
            <div class="card-body">
							<canvas
								baseChart
								[datasets]="[item]"
								[type]="'doughnut'"
								[options]="graficoChartOptions"
							>
							</canvas>
						</div>
            <!-- Card Footer -->
            <div class="card-header bg-transparent border-negro py-2">
              <h6 class="m-0 font-weight-bold text-white text-center">
                {{ graficoChartLabels[i] }}
              </h6>
            </div>
          </div>
        </div>
                
      </div>
    </div>

    <!-- Navegación >  -->
		<div class="col-sm-1 text-center">
			<a routerLink="/proyectos">
				<h1>
					<i
						class="bi bi-chevron-compact-right text-rojo bg-negro action-btn"
					></i>
				</h1>
			</a>
		</div>    

  </div>

</section>
