<section class="container text-light mt-5" name="experiencia">
    <div class="row position-relative">
        <!--Título y botón editar-->
        <div class="d-flex align-items-star">
            <h1 class="d-inline">Experiencia </h1>
            <a href="#experiencia" onclick=editarExperiencia()><span class="badge bg-negro text-rojo ms-4"><i
                        class="bi bi-pencil"></i></span></a>
        </div>
        <div id="listaPuestos">
            <!--Puesto1-->
            <div class="row">
                <!--Título y botón editar-->
                <div class="d-flex align-items-star">
                    <h3 class="d-inline">Titulo del puesto 1 </h3>
                    <a href="#experiencia" onclick=editarPuesto()><span class="badge bg-negro text-rojo ms-4"><i
                                class="bi bi-pencil"></i></span></a>
                    <a href="#experiencia" onclick=eliminarPuesto()><span class="badge bg-negro text-rojo ms-2"><i
                                class="bi bi-x-lg"></i></span></a>
                </div>
                <div>
                    <h5>Período</h5>
                </div>
                <div class="col-2 text-center">
                    <p>logo de la empresa</p>
                </div>
                <div class="col-10">
                    <p>descripción de actividades realizadas en ese puesto</p>
                </div>
                <p>drag and drop https://youtu.be/-N515SDoYuU</p>
            </div>
            <!--Puesto2-->
            <div class="row">
                <!--Título y botón editar-->
                <div class="d-flex align-items-star">
                    <h3 class="d-inline">Titulo del puesto 2 </h3>
                    <a href="#experiencia" onclick=editarPuesto()><span class="badge bg-negro text-rojo ms-4"><i
                                class="bi bi-pencil"></i></span></a>
                    <a href="#experiencia" onclick=eliminarPuesto()><span class="badge bg-negro text-rojo ms-2"><i
                                class="bi bi-x-lg"></i></span></a>
                </div>
                <div>
                    <h5>Período</h5>
                </div>
                <div class="col-2 text-center">
                    <p>logo de la empresa</p>
                </div>
                <div class="col-10">
                    <p>descripción de actividades realizadas en ese puesto</p>
                </div>
                <p>drag and drop https://youtu.be/-N515SDoYuU</p>
            </div>
            <!--Puesto3-->
            <div class="row">
                <!--Título y botón editar-->
                <div class="d-flex align-items-star">
                    <h3 class="d-inline">Titulo del puesto 3 </h3>
                    <a href="#experiencia" onclick=editarPuesto()><span class="badge bg-negro text-rojo ms-4"><i
                                class="bi bi-pencil"></i></span></a>
                    <a href="#experiencia" onclick=eliminarPuesto()><span class="badge bg-negro text-rojo ms-2"><i
                                class="bi bi-x-lg"></i></span></a>
                </div>
                <div>
                    <h5>Período</h5>
                </div>
                <div class="col-2 text-center">
                    <p>logo de la empresa</p>
                </div>
                <div class="col-10">
                    <p>descripción de actividades realizadas en ese puesto</p>
                </div>
                <p>drag and drop https://youtu.be/-N515SDoYuU</p>
            </div>

        </div>
    </div>

</section>