<section class="container text-light" name="experiencia">
  
	<div class="row align-items-center">
  	
		<!-- Navegación <  -->
		<div class="col-sm-1 text-center">
      <a routerLink="/acerca-de">
        <h1>
          <i
            class="bi bi-chevron-compact-left text-rojo bg-negro action-btn"
	        ></i>
        </h1>
      </a>
    </div>

		<!-- Contenido -->
    <div class="col-sm-10 align-items-center">
      <div class="row">
        <!--Título y botón editar-->
        <div class="d-flex align-items-star">
          <h1 class="d-inline">Experiencia</h1>
          <a href="#experiencia" onclick="editarExperiencia()"
            ><span class="badge bg-negro text-rojo ms-4"
              ><i class="bi bi-pencil"></i></span
          ></a>
        </div>

        <!-- Lista de puestos-->
        <div id="listaPuestos" *ngFor="let puesto of misdatos.experiencia">
          <!--Puesto1-->
          <div class="row my-2">
            <!--Título y botón editar-->
            <div class="d-flex align-items-star">
              <h3 class="d-inline">{{ puesto.titulo }}</h3>
              <a href="#experiencia" onclick="editarPuesto()"
                ><span class="badge bg-negro text-rojo ms-4"
                  ><i class="bi bi-pencil"></i></span
              ></a>
              <a href="#experiencia" onclick="eliminarPuesto()"
                ><span class="badge bg-negro text-rojo ms-2"
                  ><i class="bi bi-x-lg"></i></span
              ></a>
            </div>
            <div>
              <h5>{{ puesto.periodo }}</h5>
            </div>
            <div class="col-2 text-center">
              <p>{{ puesto.logo }}</p>
            </div>
            <div class="col-10">
              <p>{{ puesto.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
		
		<!-- Navegación >  -->
		<div class="col-sm-1 text-center">
			<a routerLink="/formacion">
				<h1>
					<i
						class="bi bi-chevron-compact-right text-rojo bg-negro action-btn"
					></i>
				</h1>
			</a>
		</div>

	</div>

</section>
