<section class="container text-light" name="sobreMi">
  
  <div class="row align-items-center">
		
		<!-- Contenido -->
    <div class="col-sm-11">
      <div class="row">
        <div class="col-sm-3">
          <div id="miFoto">
            <!--botón editar-->
            <div class="d-flex justify-content-end">
              <a href="#sobreMi" onclick="editarfoto()"
                ><span class="badge bg-negro text-rojo action-btn">
                  <i class="bi bi-pencil"></i></span
              ></a>
            </div>
            <div class="text-center p-2">
              <img src="../../assets/images/yo.png" alt="" width="150" />
              <p id="miNombre" class="lead">
                {{ misdatos.nombre }}<br />
                {{ misdatos.titulo }}<br />{{ misdatos.ubicacion }}
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-8 justify-content-center">
          <div class="row pt-2">
            <!--Título y botón editar-->
            <div class="d-flex justify-content-end">
              <a href="#sobreMi" onclick="editar(editarSobreMi)"
                ><span class="badge bg-negro text-rojo action-btn"
                  ><i class="bi bi-pencil"></i></span
              ></a>
            </div>
            <div>
              <h1>Sobre mí</h1>
            </div>

            <div class="">
              <p id="textoSobreMi">
                Información profesional resumida <br />(con botón de edición y/o
                eliminar) <br />Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Optio quos mollitia earum tempora repellendus
                ab deleniti sunt quo repellat beatae illo facilis ullam numquam
                sint vel reiciendis, magni iste. Non!
              </p>
              <div id="editarSobreMi" class="d-none">
                <textarea
                  class="w-100"
                  name=""
                  id="textAreaSobreMi"
                  cols="50"
                  rows="5"
                  oninput="cambiarSobreMi(this.value)"
                ></textarea>
                <input
                  type="button"
                  value="Guardar"
                  class="btn bg-rojo text-white d-block"
                  onclick="ocultarEditarSobreMi()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
		<!-- Navegación >  -->
    <div class="col-sm-1 text-center">
      <a routerLink="/experiencia">
        <h1>
          <i
            class="bi bi-chevron-compact-right text-rojo bg-negro rounded action-btn"
          ></i>
        </h1>
      </a>
    </div>
		
  </div>
</section>
