<div class="card shadow-lg bg-dark bg-opacity-25 p-4 col col-sm-9 mx-auto">
  <div class="card-body">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="misDatos" class="col col-sm-6 mx-auto">
    <h3 class="text-light mx-auto">Actualizar Acerca de mí</h3>
    <div class="mb-3 form-outline form-white">
      <div class="form-group">
        <label for="apellido" class="form-label text-white">Apellido</label>      
        <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]="misDatos.apellido" required>
      </div>
    </div>
    <div class="mb-3 form-outline form-white">
        <div class="form-group">
            <label for="Nombre" class="form-label text-white">Nombre</label>      
            <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="misDatos.nombre" required>
          </div>
    </div>
    <div class="mb-3 form-outline form-white">
        <div class="form-group">
          <label for="e-mail" class="form-label text-white">E-mail</label>      
          <input type="text" name="e-mail" id="e-mail" class="form-control" [(ngModel)]="misDatos.email" required>
        </div>
      </div>
    <div class="mb-3 form-outline form-white">
        <div class="form-group">
            <label for="pathFoto" class="form-label text-white">Path Foto</label>      
            <input type="text" name="pathFoto" id="pathFoto" class="form-control" [(ngModel)]="misDatos.pathFoto" required>
          </div>
    </div>
    <div class="mb-3 form-outline form-white">
        <div class="form-group">
            <label for="titulo" class="form-label text-white">Título</label>      
            <input type="text" name="titulo" id="titulo" class="form-control" [(ngModel)]="misDatos.titulo" required>
          </div>
    </div>
    <div class="mb-3 form-outline form-white">
        <div class="form-group">
            <label for="ubicacion" class="form-label text-white">Ubicación</label>      
            <input type="text" name="ubicacion" id="ubicacion" class="form-control" [(ngModel)]="misDatos.ubicacion" required>
          </div>
    </div>
    <div class="mb-3 form-outline form-white">
      <div class="form-group">
        <label for="sobreMi" class="form-label text-white">Sobre Mi</label>      
        <textarea name="sobreMi" id="sobreMi" class="form-control" [(ngModel)]="misDatos.sobreMi" required></textarea>
      </div>
    </div>  
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-secondary" routerLink="/acerca-de">Cancelar</button>
      <button type="submit" class="btn btn-outline-danger" [disabled]="!f.valid">Actualizar</button>
    </div>
        </form>
  </div>
</div>